body {
    text-align: center;
    background-color: #afadad;
}

h1 {
    font-family: Monoton;
    font-size: 60px;
    margin: 0;
}

h2 {
    margin: 1em 0 0.25em;
}

h2:first-of-type {
    margin-top: 0.5em;
}

#canvasHeader h2 {
    letter-spacing: 0.3em;
}

h3 {
    margin-top: 5px;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

tr {
    height: 15px;
}

td {
    width: 15px;
    background-color: rgb(255, 255, 255);
}

input[type=number] {
    width: 4em;
    padding-left: .5em;
    border-radius: 3px;
}

#adjustGridDiv input[type=number]{
    margin-right: .5em;
}


input {
    height: 20px;
    box-sizing: content-box;
}

input[type=color] {
    border-radius: 5px;
}

label {
    margin-left: 1em;
    margin-right: 2px;
}

#firstDiv {
    background-color: #556163;
    border-radius: 5px;
    height: 90px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

#adjustGridDiv {
    display: flex;
    justify-content: space-around;
    max-width: 660px;
    height: auto;
}

#adjustGridDiv > * {
    display: flex;
    justify-content: space-evenly;
}

/* Medium screens */
@media all and (max-width: 960px) {
    h1 {
        font-size: 40px;
    }
    .container {
        flex-direction: column;
        justify-content: space-around;
        height: 180px;
    }

    #firstDiv {
        height: 200px;
    }

    #adjustGridDiv {
        margin: 0 auto;
    }
}

@media all and (max-width: 650px) {
    h1 {
        font-size: 30px;
    }
    .container {
        height: 240px;
    }

    .container > div:first-of-type {
        height: 100px;
        min-width: 320px;
    }

    .container > div:nth-of-type(2) {
        height: 140px;
    }

    #firstDiv {
        height: 240px;
    }

    #adjustGridDiv {
        flex-direction: column;
        height: 80px;
    }

    #adjustGridDiv > * {
        justify-content: center;
        align-content: space-around;
    }
}

form {
    height: 20px;
}

form > * {
    height: 100%;
    box-sizing: content-box;
}

form > label:first-of-type {
    margin-left: 0;
}

select {
    height: 25px;
    border-radius: 3px;
}

.inline {
    display: inline-block;
}

#canvasHeader {
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    max-width: 500px;
    margin: 0.5em auto;
}